.bottom-field-content {
  display: flex;
  margin: auto;
}
.counter {
  border: 0.06rem solid var(--grey-light);
}

.counter-container {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  color: var(--grey);
  padding: 10px 0;
  p {
    align-self: center;
    display: flex;
    justify-content: center;
  }
}

.bottom-field-button-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button {
    border: 0.06rem solid var(--grey-light);
    background-color: transparent;
    color: var(--grey);
    font-size: 16px;
    padding: 0.7rem 1.5rem !important;
    border-radius: 8px;
  }
}
