.scroll {
  height: 90%;
  scrollbar-width: thin;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 8px;
  padding: 10px 0;
  width: auto;
  overflow-wrap: break-word; 
}

#todoList p {
  display: flex;
  gap: 1rem;
  color: var(--dark);
  align-items: center;
}

#todoList .disabled {
  color: #8f98a8;
}
.disabled {
  display: flex;
  text-decoration: line-through;
}

.todo-container {
  display: flex;
  gap: 8px;
}

#deleteButton,
#deleteButtonSelected{
    padding: 0 5px;
}
